<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post</title>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <header>
    <nav>
        <div class="menu_div">
            <ul class="menu">
                <li id="drop_down_icon">
                    <a href="#"><div><img src="../assets/icons/menu_100dp_5B9279_FILL0_wght500_GRAD200_opsz48.png" title="Menu" alt="menu_png"></div></a>
                </li>
                <li>
                    <a href="../index.html"><div><img src="../logo/pepe_frog-removebg-preview.png" title="Home" alt="home_png"></div></a>
                </li>
            </ul>
            <ul class="drop_down_menu">
                <li><a href="../index.html"><img src="../assets/icons/home_100dp_5B9279_FILL0_wght500_GRAD0_opsz48.png" alt="home_icon" title="home">Home</a></li>
                <li><a href="subir_meme.html"><img src="../assets/icons/publish_100dp_5B9279_FILL0_wght500_GRAD0_opsz48.png" alt="upload_icon" title="Subir Meme">Subir Meme</a></li>
                <li><a href="inicio.html"><img src="../assets/icons/login_100dp_5B9279_FILL0_wght400_GRAD200_opsz48.png" alt="login_icon" title="Inició">Inició</a></li>
                <li><a href="#"><img src="../assets/icons/schedule_100dp_5B9279_FILL0_wght500_GRAD0_opsz48.png" alt="latest_icon" title="Últimos">Últimos</a></li>
                <li><a href="#"><img src="../assets/icons/mode_heat_100dp_5B9279_FILL0_wght500_GRAD0_opsz48.png" alt="trending_icon" title="Trending">Trending</a></li>
                <li><a href="#"><img src="../assets/icons/shuffle_100dp_5B9279_FILL0_wght500_GRAD0_opsz48.png" alt="random_icon" title="Aleatorio">Aleatorio</a></li>
                <li><a href="favoritos.html"><img src="../assets/icons/bookmark_heart_100dp_5B9279_FILL0_wght500_GRAD0_opsz48.png" alt="favorites_icon" title="Favoritos">Favoritos</a></li>
                <li><a href="mis_subidas.html"><img src="../assets/icons/archive_100dp_5B9279_FILL0_wght500_GRAD0_opsz48.png" alt="uploads_icon" title="Mis subidas">Mis subidas</a></li>
                <li><a href="ranking.html"><img src="../assets/icons/military_tech_100dp_5B9279_FILL0_wght500_GRAD0_opsz48.png" alt="ranking_icon" title="Ranking">Ranking</a></li>
              </ul>
            <ul class="search">
                <li>
                    <button><img src="../assets/icons/contrast_100dp_5B9279_FILL0_wght400_GRAD0_opsz48.png" alt="background_icon" title="Cambiar Fondo"></button>
                </li>
                <li>
                <label for="go_search"><button id="search_btn"><img src="../assets/icons/search_100dp_5B9279_FILL0_wght400_GRAD200_opsz48.png" alt="search_icon" title="Buscar"></button></label>
                </li>
            </ul>
        </div>
        <div class="search_box">
            <form method="post" action="">
                <input type="search" id="go_search" name="search_tab" placeholder="Busca tus memes aqui...  ">  
            </form>
        </div>
        <div class="filter">
            <select name="cronologico">
                <option value="ultimos">Ultimós</option>
                <option value="antiguos">Antiguos</option>
            </select>
            <select name="popularidad">
                <option value="" disabled selected>---</option>
                <option value="tendencia">Trending</option>
                <option value="mas_vistos">Mas vistos</option>
                <option value="mas_votados">Mas votados</option>
                <option value="historicos">Historicos</option>
                <option value="aleatorios">Aleatorios</option>
            </select>
            <button>Buscar</button>
        </div>
    </nav>
</header>
<main>
  <section class="content">
    <article class="post_body">
      <header class="post_header">
          <div><button class="usuario_icono"><img src="../assets/memes_mes/Garabatos Divertidos.webp" alt="user_icon" title="usuario"></button><a href="#">ManolodelBombo</a></div>
          <div><a href="post.html"><h1>Mi colega el Youtuber</h1></a></div>
      </header>
      <div class="post">
          <a href="views/post.html"><img src="../assets/memes/amigo_youtuber.webp" alt="post_img" title="post"></a>
      </div>
      <div class="post_info">
          <a href="#">#Yotube</a>
          <a href="#">#Youtuber</a>
          <a href="#">#Pana</a>
          <a href="#">#Weon</a>
          <a href="#">#Amigo</a>
      </div>
      <div class="post_footer">
          <div class="btn_comment"><button><img src="../assets/icons/comment_100dp_5B9279_FILL1_wght500_GRAD0_opsz48.png" alt="add_comment_icon" title="Añadir comentario"></button></div>
          <div class="btn_rating">
              <button><img src="../assets/icons/thumb_up_100dp_8FCB9B_FILL1_wght500_GRAD0_opsz48.png" alt="like_icon" title="Dar Like"></button>  
              <div class="rating_container">
                  <span class="percentage">70%</span>
                  <span class="count">157</span>
              </div>
              <button><img src="../assets/icons/thumb_down_100dp_8B1A10_FILL1_wght500_GRAD0_opsz24.png" alt="dislike_icon" title="Dar Dislike"></button>
          </div>
          <div class="btn_share">
              <button><img src="../assets/icons/share_100dp_5B9279_FILL1_wght500_GRAD0_opsz48.png" alt="share_icon" title="compartir"></button>
          </div>
      </div>
      <div class="add_comment_container">
        <form action="" method="post">
          <textarea placeholder="Si cree va a ser gracioso, escriba aquí su comentario"></textarea>
          <input type="submit" name="submit" value="Enviar">
        </form>
      </div>
      <div class="post_comments">
        <div class="comments_container">
            <div class="user_comment_container">
                <button class="usuario_icono">
                    <img src="../assets/memes_mes/Garabatos Divertidos.webp" alt="user_icon" title="usuario">
                </button>
                <a href="#">ManolodelBombo | 26/01/2025 15:30</a>
                <div class="comment">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor ipsum odit placeat iusto, distinctio perferendis, ea quasi animi vel necessitatibus temporibus, voluptatibus quidem rem consectetur natus facere. Ea, earum fuga?
                    Ea adipisci repudiandae fugiat corporis, incidunt soluta veniam omnis consectetur atque sint amet dolores ab beatae iste nam non modi explicabo consequatur! Amet, laudantium! Nesciunt quas repellat ipsam qui labore!</p>
                </div>
                <div class="btn_rating">
                    <button>
                        <img src="../assets/icons/thumb_up_100dp_8FCB9B_FILL1_wght500_GRAD0_opsz48.png" alt="like_icon" title="Like">
                    </button>
                    <p class="comment_liked_count">
                        100 
                    </p>
                    <button>
                        <img src="../assets/icons/thumb_down_100dp_8B1A10_FILL1_wght500_GRAD0_opsz24.png" alt="like_icon" title="Like">
                    </button>
                    <p class="comment_dislike_count">
                        10 
                    </p>
                    <button>
                        <img src="../assets/icons/report_24dp_BB271A_FILL0_wght500_GRAD0_opsz24.png" alt="report_button" title="Reportar">
                    </button>
                </div>
                <div class="comment_reply">
                    <button class="usuario_icono">
                        <img src="../assets/memes/Doulingo_mod.webp" title="usuario">
                    </button>
                    <a href="#">DiscordMod | 26/01/2025 17:45</a>
                    <div class="comment">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque ea iure itaque eaque et est omnis cupiditate, dolor odio aliquam tenetur, possimus nobis blanditiis, sint unde recusandae reprehenderit voluptas laboriosam!</p>
                    </div>
                    <div class="btn_rating">
                        <button>
                            <img src="../assets/icons/thumb_up_100dp_8FCB9B_FILL1_wght500_GRAD0_opsz48.png" alt="like_icon" title="Like">
                        </button>
                        <p class="comment_liked_count">
                            45 
                        </p>
                        <button>
                            <img src="../assets/icons/thumb_down_100dp_8B1A10_FILL1_wght500_GRAD0_opsz24.png" alt="like_icon" title="Like">
                        </button>
                        <p class="comment_dislike_count">
                            7 
                        </p>
                        <button>
                            <img src="../assets/icons/report_24dp_BB271A_FILL0_wght500_GRAD0_opsz24.png" alt="report_button" title="Reportar">
                        </button>
                    </div>
                    <div class="comment_reply">
                    <button class="usuario_icono">
                        <img src="../assets/memes/durum_mañanero.webp" alt="user_icon" title="usuario">
                    </button>
                    <a href="#">SANIC HEDEGOCHO | 26/01/2025 17:50</a>
                    <div class="comment">
                        <p>Lorem!</p>
                    </div>
                    <div class="btn_rating">
                        <button>
                            <img src="../assets/icons/thumb_up_100dp_8FCB9B_FILL1_wght500_GRAD0_opsz48.png" alt="like_icon" title="Like">
                        </button>
                        <p class="comment_liked_count">
                            10 
                        </p>
                        <button>
                            <img src="../assets/icons/thumb_down_100dp_8B1A10_FILL1_wght500_GRAD0_opsz24.png" alt="like_icon" title="Like">
                        </button>
                        <p class="comment_dislike_count">
                            1 
                        </p>
                        <button>
                            <img src="../assets/icons/report_24dp_BB271A_FILL0_wght500_GRAD0_opsz24.png" alt="report_button" title="Reportar">
                        </button>
                    </div>
                </div>
                <div class="comment_reply">
                    <button class="usuario_icono">
                        <img src="../assets/memes/buss_wed.webp" alt="user_icon" title="usuario">
                    </button>
                    <a href="#">EsteFresh | 26/01/2025 17:45</a>
                    <div class="comment">
                        <p>Lorem!</p>
                    </div>
                    <div class="btn_rating">
                        <button>
                            <img src="../assets/icons/thumb_up_100dp_8FCB9B_FILL1_wght500_GRAD0_opsz48.png" alt="like_icon" title="Like">
                        </button>
                        <p class="comment_liked_count">
                            24 
                        </p>
                        <button>
                            <img src="../assets/icons/thumb_down_100dp_8B1A10_FILL1_wght500_GRAD0_opsz24.png" alt="like_icon" title="Like">
                        </button>
                        <p class="comment_dislike_count">
                            13 
                        </p>
                        <button>
                            <img src="../assets/icons/report_24dp_BB271A_FILL0_wght500_GRAD0_opsz24.png" alt="report_button" title="Reportar">
                        </button>
                    </div>
                </div>
            </div>
            <div class="comment_reply">
                <button class="usuario_icono">
                    <img src="../assets/memes_mes/Muchas.webp" alt="user_icon" title="usuario">
                </button>
                <a href="#">PikiMiniChu | 27/01/2025 10:32</a>
                <div class="comment">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque ea iure itaque eaque et est omnis cupiditate, dolor odio aliquam tenetur, possimus nobis blanditiis, sint unde recusandae reprehenderit voluptas laboriosam!</p>
                </div>
                <div class="btn_rating">
                    <button>
                        <img src="../assets/icons/thumb_up_100dp_8FCB9B_FILL1_wght500_GRAD0_opsz48.png" alt="like_icon" title="Like">
                    </button>
                    <p class="comment_liked_count">
                        65 
                    </p>
                    <button>
                        <img src="../assets/icons/thumb_down_100dp_8B1A10_FILL1_wght500_GRAD0_opsz24.png" alt="like_icon" title="Like">
                    </button>
                    <p class="comment_dislike_count">
                        18 
                    </p>
                    <button>
                        <img src="../assets/icons/report_24dp_BB271A_FILL0_wght500_GRAD0_opsz24.png" alt="report_button" title="Reportar">
                    </button>
                </div>
                <div class="comment_reply">
                    <button class="usuario_icono">
                        <img src="../assets/memes/prrimito.webp" alt="user_icon" title="usuario">
                    </button>
                    <a href="#">Mexicano | 27/01/2025 11:25</a>
                    <div class="comment">
                        <p>Lorem!</p>
                    </div>
                    <div class="btn_rating">
                        <button>
                            <img src="../assets/icons/thumb_up_100dp_8FCB9B_FILL1_wght500_GRAD0_opsz48.png" alt="like_icon" title="Like">
                        </button>
                        <p class="comment_liked_count">
                            11 
                        </p>
                        <button>
                            <img src="../assets/icons/thumb_down_100dp_8B1A10_FILL1_wght500_GRAD0_opsz24.png" alt="like_icon" title="Like">
                        </button>
                        <p class="comment_dislike_count">
                            3 
                        </p>
                        <button>
                            <img src="../assets/icons/report_24dp_BB271A_FILL0_wght500_GRAD0_opsz24.png" alt="report_button" title="Reportar">
                        </button>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
  </section>
</main>
<footer>
    <p>&copy; 2024 Blog de Memes. Todos los derechos reservados... o al menos eso intentamos.</p>
    <p>Síguenos en nuestras redes: <a href="https://twitter.com">Twitter</a> | <a href="https://instagram.com">Instagram</a></p>
    <p>¿Problemas? <a href="#">Llora aquí</a>.</p>
  </footer>     
<script src="../javascript/index.js"></script>
</body>
</html>