<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ranking</title>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body id="#top">
  <header>  
    <nav>
        <div class="menu_div">
            <ul class="menu">
                <li id="drop_down_icon">
                    <a href="#"><div><img src="../assets/icons/menu_100dp_5B9279_FILL0_wght500_GRAD200_opsz48.png" title="Menu" alt="menu_png"></div></a>
                </li>
                <li>
                    <a href="../index.html"><div><img src="../logo/pepe_frog-removebg-preview.png" title="Home" alt="home_png"></div></a>
                </li>
            </ul>
            <ul class="drop_down_menu">
                <li><a href="../views/subir_meme.html"><img src="../assets/icons/publish_100dp_5B9279_FILL0_wght500_GRAD0_opsz48.png">Subir Meme</a></li>
                <li><a href="../views/inicio.html"><img src="../assets/icons/login_100dp_5B9279_FILL0_wght400_GRAD200_opsz48.png" title="Inició">Inició</a></li>
                <li><a href="#"><img src="../assets/icons/schedule_100dp_5B9279_FILL0_wght500_GRAD0_opsz48.png" title="Ultimos">Últimos</a></li>
                <li><a href="#"><img src="../assets/icons/mode_heat_100dp_5B9279_FILL0_wght500_GRAD0_opsz48.png" title="Trending">Trending</a></li>
                <li><a href="#"><img src="../assets/icons/shuffle_100dp_5B9279_FILL0_wght500_GRAD0_opsz48.png" title="Aleatorio">Aleatorio</a></li>
                <li><a href="../views/favoritos.html"><img src="../assets/icons/bookmark_heart_100dp_5B9279_FILL0_wght500_GRAD0_opsz48.png" title="Favoritos">Favoritos</a></li>
                <li><a href="../views/mis_subidas.html"><img src="../assets/icons/archive_100dp_5B9279_FILL0_wght500_GRAD0_opsz48.png" title="Mis subidas">Mis subidas</a></li>
            </ul>
            <ul class="search">
                <li>
                    <button><img src="../assets/icons/contrast_100dp_5B9279_FILL0_wght400_GRAD0_opsz48.png"></button>
                </li>
                <li>
                <label for="go_search"><button id="search_btn"><img src="../assets/icons/search_100dp_5B9279_FILL0_wght400_GRAD200_opsz48.png"></button></label>
                </li>
            </ul>
        </div>
        <div class="search_box">
            <form method="post" action="">
                <input type="search" id="go_search" name="search_tab" placeholder="Busca tus memes aqui...  ">
            </form>
        </div>
        <div class="filter">
            <select name="cronologico">
                <option value="ultimos">Ultimós</option>
                <option value="antiguos">Antiguos</option>
            </select>
            <select name="popularidad">
                <option value="" disabled selected>---</option>
                <option value="tendencia">Trending</option>
                <option value="mas_vistos">Mas vistos</option>
                <option value="mas_votados">Mas votados</option>
                <option value="historicos">Historicos</option>
            </select>
            <button>Buscar</button>
        </div>
    </nav>
  </header>
  <main>
    <section class="content">
      <article class="post_body">
          <header class="post_header">
              <div><button><img src="../assets/memes_mes/Garabatos Divertidos.webp" title="usuario"></button><a href="#">ManolodelBombo</a></div>
              <div><a href="../views/post.html"><h1>#1</h1></a></div>
          </header>
      </article>
      <article class="post_body">
        <header class="post_header">
            <div><button><img src="../assets/memes/big_yagami.webp" title="usuario"></button><a href="#">PrimoXoxas</a></div>
            <div><a href="../views/post.html"><h1>#2</h1></a></div>
        </header>
      </article>
      <article class="post_body">
        <header class="post_header">
            <div><button><img src="../assets/memes/Doulingo_mod.webp" title="usuario"></button><a href="#">DiscordMod</a></div>
            <div><a href="../views/post.html"><h1>#3</h1></a></div>
        </header>
      </article>
      <article class="post_body">
        <header class="post_header">
            <div><button><img src="../assets/memes/durum_mañanero.webp" title="usuario"></button><a href="#">SANIC HEDEGOCHO</a></div>
            <div><a href="../views/post.html"><h1>#4</h1></a></div>
        </header>
      </article>
      <article class="post_body">
        <header class="post_header">
            <div><button><img src="../assets/memes/buss_wed.webp" title="usuario"></button><a href="#">EsteFresh</a></div>
            <div><a href="../views/post.html"><h1>#5</h1></a></div>
        </header>
      </article>
      <article class="post_body">
        <header class="post_header">
            <div><button><img src="../assets/memes/prrimito.webp" title="usuario"></button><a href="#">Mexicano</a></div>
            <div><a href="../views/post.html"><h1>#6</h1></a></div>
        </header>
      </article>
      <article class="post_body">
        <header class="post_header">
            <div><button><img src="../assets/memes/gato_vater.webp" title="usuario"></button><a href="#">Sebas</a></div>
            <div><a href="../views/post.html"><h1>#7</h1></a></div>
        </header>
      </article>
      <article class="post_body">
        <header class="post_header">
            <div><button><img src="../assets/memes_mes/Muchas.webp" title="usuario"></button><a href="#">PikiMiniChu</a></div>
            <div><a href="../views/post.html"><h1>#8</h1></a></div>
        </header>
      </article>
      <article class="post_body">
        <header class="post_header">
            <div><button><img src="../assets/memes_mes/Naranja.webp" title="usuario"></button><a href="#">Nose</a></div>
            <div><a href="../views/post.html"><h1>#9</h1></a></div>
        </header>
      </article>
      <article class="post_body">
        <header class="post_header">
            <div><button><img src="../assets/memes_mes/Mr_ Fresh Cat Meme Template.webp" title="usuario"></button><a href="#">SUS69</a></div>
            <div><a href="../views/post.html"><h1>#10</h1></a></div>
        </header>
      </article>
    </section>
    <nav class="nav_paginas">
      <div>
          <button><img src="../assets/icons/arrow_back_ios_new_100dp_5B9279_FILL0_wght500_GRAD0_opsz48.png"></button>
          <form method="post" action="">
              <input type="number">
          </form>
          <button><img src="../assets/icons/arrow_forward_ios_100dp_5B9279_FILL0_wght500_GRAD0_opsz40.png"></button>
      </div>
    </nav>
    <a href="#top">
      <button  class="arrow_back_to_top">
      <img src="../assets/icons/keyboard_arrow_up_100dp_5B9279_FILL0_wght500_GRAD0_opsz48.png" title="Volver Arriba">
      </button>
  </a>
  </main>
  <footer>
    <p>&copy; 2024 Blog de Memes. Todos los derechos reservados... o al menos eso intentamos.</p>
    <p>Síguenos en nuestras redes: <a href="https://twitter.com">Twitter</a> | <a href="https://instagram.com">Instagram</a></p>
    <p>¿Problemas?<a href="#">Llora aquí</a>.</p>
  </footer>      
  <script src="../javascript/index.js"></script>
</body>
</html>